@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cadastar Usuário";
}

<div class="row navbar-expand">
    <div class="col-md-8">
        <div>
            <a href='@Url.Action("Index", "Home" )'> Home</a> > Cadastrar novo usuário
        </div>
        <h3><i class="fa fa-clipboard" aria-hidden="true"></i>Cadastar novo usuário</h3>
    </div>
</div>
<hr />
<div id="geral" class="container">
    <fieldset>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Nome Completo</label>
                    <input class="form-control" id="nomeCompleto" required size="50" placeholder="Obrigatório" />
                </div>
                <div class="form-group">
                    <label class="control-label">Apelido</label>
                    <input class="form-control" id="apelido" size="50" />
                </div>
                <div class="form-group">
                    <label class="control-label">Endereço</label>
                    <input class="form-control" id="endereco" size="50" />
                </div>
                <div class="form-group">
                    <label class="control-label">Telefone</label>
                    <input class="form-control" id="telefone" type="tel" placeholder="(xx) x xxxx-xxxx" size="11" required />
                </div>
                <div class="form-group">
                    <a class="btn btn-success" onclick=ValidaCampos()>SALVAR CADASTRO</a>
                </div>
            </div>
        </div>
    </fieldset>
    <div>
        <a style="cursor:pointer;" href="/Usuarios">Voltar à listagem</a>
    </div>
</div>


<script>

    function ValidaCampos() {
        let nome = $("#nomeCompleto").val();
        let apelido = $("#apelido").val();
        let endereco = $("#endereco").val();
        let telefone = $("#telefone").val();

        if (nome.length < 5) {
            document.getElementById("nomeCompleto").focus();
            Notify('alerta', "Preencha o campo 'NOME' corretamente");
            return;
        }
        else if (telefone.length < 10) {
            document.getElementById("telefone").focus();
            alert("Preencha o campo 'TELEFONE' corretamente");
            return;
        }

        SalvarCadastro(nome, apelido, endereco, telefone);
    }

    function SalvarCadastro(nome, apelido, endereco, telefone) {

        $.ajax({
            url:'@Url.Action("SalvarCadastro","Usuarios")',
            type:'POST',
            data:{
                "Nome": nome,
                "Apelido": apelido,
                "Endereco": endereco,
                "Telefone": telefone
            },
            success: function () {
                Notify('sucesso', 'Cadastro realizado!');
            },
            error: function (response) {
                Notify('erro', response.statusText);
            }
        });
    }

</script>