
@{
    ViewData["Title"] = "Lista cadastros";
}

<div class="toast-header">
    <div>
        <h1>Lista de Usuários</h1>
        <div>
            <a href='@Url.Action("Index", "Home" )'> Home</a>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-outline-primary" href="/Usuarios/CriarNovoUsuario">Cadastrar novo usuario</a>
</div>
<hr />
<div id="filtro" class="container">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-group-toggle" aria-expanded="true" role="button" data-toggle="collapse" href="#form"><strong>FILTROS</strong></a>
        </div>
    </div>

    <fieldset id="form" class="collapse show">
        <div class="col-xs-auto">
            <div class="col-xl-auto">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input id="nomeF" type="text" name="nomeF" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Apelido</label>
                        <input id="apelidoF" type="text" name="apelidoF" class="form-control" />
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Endereco</label>
                        <input id="enderecoF" type="text" name="enderecoF" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input id="telefoneF" type="text" name="telefoneF" class="form-control" />
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Data cadastro início</label>
                        <input id="dtInicioF" type="date" name="dtInicioF" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Data cadastro fim</label>
                        <input id="dtFimF" type="date" name="dtFimF" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-group align-self-lg-auto">
                <button onclick="Filtrar()" id="btnFiltrar" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </fieldset>
</div>
<div id="listUser"></div>

<script>

    function Filtrar(skp, tak) {
        let nome = $("#nomeF").val();
        let apelido = $("#apelidoF").val();
        let endereco = $("#enderecoF").val();
        let telefone = $("#telefoneF").val();
        let dtInicioF = $("#dtInicioF").val();
        let dtFimF = $("#dtFimF").val();

        $.ajax({
            url:'@Url.Action("Filtrar","Usuarios")',
            type:'GET',
            data:{
                "Nome": nome,
                "Apelido": apelido,
                "Endereco": endereco,
                "Telefone": telefone,
                "DtInicioF": dtInicioF,
                "DtFimF": dtFimF,
                "skip": skp,
                "take": tak
            },
            success: function (response) {
                Notify('sucesso', 'Exibindo resultados...');
                $("#listUser").html(response);
                $("#form").removeClass();
                $("#form").addClass("collapse");
            },
            error: function (request) {
                Notify('erro', request.responseText);
            }
        });
    }

    function Editar() {
        let id = $("input[name='rButton']:checked").val();

        console.log(id);

        if (id > 0) {
           $.ajax({
                url: '@Url.Action("Editar","Usuarios")',
                type: 'GET',
               data: { "Id": id },
               success: function (response) {
                   $("#listUser").html(response);
               },
               error: function (request) {
                   Notify('erro', request.responseText);
               }
           });
        }
        else
            Notify('alerta', 'Selecione um usuário para editar.');
    }

    function Deletar() {
        let id = $("input[name='rButton']:checked").val();

        if (id > 0) {
            $.ajax({
                url: '@Url.Action("Deletar", "Usuarios")',
                type: 'DELETE',
                data: { "Id": id },
                success: function (request) {
                    Notify('sucesso', request.responseText);

                    Filtrar(0, 10);
                },
                error: function (request) {
                    Notify('erro', request.responseText);
                }
            });
        }
        else
            Notify('alerta', 'Selecione um usuário para apagar');
    }

</script>
