@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Para acessar os usuarios <a href="/Usuarios">Clique aqi</a>.</p>

    <p>Para cadastrar novos usuarios <a href="/Usuarios/CriarNovoUsuario">Clique aqi</a>.</p>
    
    <p>Ou acesse através da barra de navegação.</p>
</div>
